.product {
  width: 300px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  background: url(ezgif);
  border-radius: 8px;
  margin: 7px;
}
.product-info {
  margin: 14px;

}
.product-info p{
    margin-bottom: 5px;
}
.title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  color: #0e161a;
}
.btn-cart {
  width: 100%;
  padding: 12px 0px;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  bottom: 0;
  position: absolute;
}
.btn-cart:hover{
    background-color: orange;
}
