.form-container {
  box-sizing: border-box;
  width: 500px;
  height: 600px;
  background: #ffffff;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  margin: 20px auto;
}
.form-title {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  letter-spacing: 0.0025em;
  color: #2a414f;
  text-align: center;
}
.form-control {
  margin: 20px 30px;
}
.form-control input {
  width: 400px;
  height: 55px;
  border: 1px solid #95a0a7;
  border-radius: 5px;
  font-size: 1.5rem;
  padding: 0px 20px;
}
.form-control label {
  display: block;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  color: #2a414f;
  margin-bottom: 10px;
}
.login-btn {
  width: 415px;
  height: 55px;
  margin: 20px 42px;
  background: rgba(255, 153, 0, 0.3);
  border-radius: 5px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 25px;
  letter-spacing: 0.0015em;
  border: none;
  color: #0e161a;
}
.login-btn:hover {
  background: rgba(255, 153, 0, 0.474);
}
.account {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.0025em;
  color: #2a414f;
  text-align: center;
}

